

  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Source+Code+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color: rgba(242, 148, 41, 0.658); */
    background-color: rgb(196, 185, 185);
    width: 434px;
    /* font-family: 'Fira Sans', sans-serif; */
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: rgb(173, 203, 173); */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: rgb(204, 70, 70); */
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    height: 60vh;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
       justify-content: center;
       flex-direction: column;
       font-family: 'Source Code Pro', monospace;
    }
.hello{
    font-size: 70px;

}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 40px;
}
.moreabout{
    font-size: 25px;
    margin-top: 23px;

}
.buttons{
    margin-top: 34px;
}

.btn{
    font-size: 21px;
    border-radius: 25px;
    padding: 12px;
    color: white;
    background-color: rgb(139, 68, 221);
    font-weight: bold;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    padding: 7px 1px;
    margin: 10px 0;
    font-size: 10px;
}
.btn:hover{
    background-color:white ;
    color:rgb(139, 68, 221) ;
}

.devpic img{
    width: 300px;
    /* this is added by me */
    border: 8px solid white ;
    border-radius: 40px;
    height: 60vh;
}

 .contactform {

    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;

 }

 .contactform h1{

    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    font-weight: 600;


 }
 .contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
 }
 .contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
 }
 #emailHelp{
    font-size: 11px;
    color: rgb(52, 52, 54);
    margin: 0 5px;
    padding: 3px 0 0 0;
 }
 #form-check{
    flex-direction: row;
 }
 #form-check input{
    width: 24px;
    margin: 3px 0;
 }
 .blogItem {
    margin: 20px;
    font-family: 'Fira sans',sans-serif;

 }
 h1{
    font-family: 'Fira sans',sans-serif;
    margin: 23px;
 }
 p{
    font-family: 'Source Code Pro'monospace;
 }
 .intro h2{
    font-family: 'Fira sans',sans-serif;
    margin: 12px;

}
.intro p{
    font-family: 'Source Code Pro' monospace;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro' monospace;
    font-weight: 900;

}
.skill{
    width: 265px;
    height: 6px;
    /* background-color: red; */
    border: 2px solid black;
}
.hundered{
    width: 265px;
    background-color: green;
}
.eighty{
    width: 200px;
    background-color: greenyellow;
}
.seventy{
    width: 180px;
    background-color: yellow;
}
.fifty{
    width: 125px;
    background-color: orange;

}
.t5{
    width: 75px;
    background-color: red;
}

@media (max-width: 1615px) {
    *{

    
background-color: rgb(167, 167, 209);
    
}
.sidebar{
    transform: translate(-433px,0px);
    position: absolute;
}
}
